{% extends "base.html" %}

{% block title %}Créer Paiement Autres Frais{% endblock %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/creer_paiement_autres_frais.css' %}">
{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="highlighted-heading">Créer un Paiement Autres Frais</h1>
    <form method="post" class="form-achat">
        {% csrf_token %}
        {{ form.non_field_errors }}

        {% for field in form %}
            <div class="mb-3">
                <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                {{ field }}
                {{ field.errors }}
            </div>
        {% endfor %}

        <button type="submit" class="btn btn-primary">Enregistrer</button>
    </form>
    <a href="{% url 'list_paiement_autres_frais' %}" class="btn btn-secondary mt-3">Retour à la liste des paiements</a>
</div>
{% endblock %}

{% block js %}
<script src="{% static 'js/creer_paiement_autres_frais.js' %}"></script>
{% endblock %}